body > header {
    background-color: rgb(242, 203, 223);
    color: white;  
    margin: 0px;
    padding: 0px;
    display: flex;
    height: 40%;
    align-items: center;
    justify-content: space-around;
}

body { 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: rgb(235, 223, 229);
    color: rgb(150, 52, 101);
}

#logo {
    margin: 0px;
    padding: 0px;
    font-family: "Pacifico", cursive;
    font-size: 3.5em; 
    text-shadow: 3px 3px 5px rgb(240, 132, 188); 
    }


#content-container {
    display: flex;
    gap: 20px; 
}

#sidebar {
    flex: 1;
    background-color: #f0f0f0; 
    padding: 10px;
}

#method {
    flex: 2;
    background-color: #f0f0f0;
    padding: 10px;
}

body > main article { 
    width: 70%;
    margin: auto;
    text-align: justify;
}

#subheader {
    text-align: center;
}

form { 
    text-align: center;
}

main {
    padding: 20px; 
}


#footer-ul {
    display: flex;
    list-style: none;
    background-color: rgb(242, 203, 223);
    justify-content: center;
    margin: 0;
    padding: 0;
}

#footer-ul > div > li {
    margin-left: 20px;
    
}

#footer-ul > div > li > a{ 
    text-decoration: none; 
    color: white;
}


#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}


body > header > nav > ul { 
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
}